able, th, td {
    border: 1px solid black;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 50%;
    
}

td {
    height: 30px;
}
th {
    text-align: center;
    height: 50px;
}

.buttonFloat {
    float: left;
}